#Default Prestashop
/autoload.php
/bin/
cache/
/classes/
/controllers/
/docs/
download/
/images.inc.php
/index.php
/init.php
/js/
/localization/
/pdf/
/src/
/tools/
/webservice/
/translations/
upload/
/var/
/vendor/
/.htaccess
INSTALL.txt
LICENSES
Makefile
/app/
/composer.lock
/config/
/img/
phpstan.neon.dist
/robots.txt
modules/storecommander/*
/modules/storecommander/
/modules/storecommander/**
/modules/pm_advancedtopmenu/column_icons/
/templates/

#By project (a changer selon admin du projet)
/boadmin/

#Links for othders folders/files (a mettre selon projet)
#Exemple projet (on commit pas le projet wordpress /blog)
/blog
#
facebookproductad.xml.php
facebookproductad37ad1d1cd94c80b4e632b61e594ed5d5.fr.be.shop1.xml
facebookproductad37ad1d1cd94c80b4e632b61e594ed5d5.fr.shop1.xml
gmerchantcenterpro.fr.EUR.shop1.product.xml
gmerchantcenterpro.fr.EUR.shop1.reviews.xml
gmerchantcenterpro.fr.be.EUR.shop1.product.xml
gmerchantcenterpro.fr.be.EUR.shop1.reviews.xml
gmerchantcenterpro.xml.php
gmerchantcenterpro6d6b6ca5459b4447d3c7128f56917a99.fr.EUR.shop1.product.xml
gmerchantcenterpro6d6b6ca5459b4447d3c7128f56917a99.fr.EUR.shop1.reviews.xml
gmerchantcenterpro6d6b6ca5459b4447d3c7128f56917a99.fr.be.EUR.shop1.product.xml
gmerchantcenterpro6d6b6ca5459b4447d3c7128f56917a99.fr.be.EUR.shop1.reviews.xml
gmerchantcenterpro6eeff9ed136b401f75b939210079bd57.fr.EUR.shop1.product.xml
gmerchantcenterpro6eeff9ed136b401f75b939210079bd57.fr.EUR.shop1.reviews.xml
gmerchantcenterpro6eeff9ed136b401f75b939210079bd57.fr.be.EUR.shop1.product.xml
gmerchantcenterpro6eeff9ed136b401f75b939210079bd57.fr.be.EUR.shop1.reviews.xml
gmerchantcenterprobfc74f4530d3a8afd13b815e31218e6e.fr.EUR.shop1.product.xml
gmerchantcenterprobfc74f4530d3a8afd13b815e31218e6e.fr.EUR.shop1.product_good.xml
gmerchantcenterprobfc74f4530d3a8afd13b815e31218e6e.fr.EUR.shop1.reviews.xml
gmerchantcenterprobfc74f4530d3a8afd13b815e31218e6e.fr.be.EUR.shop1.product.xml
gmerchantcenterprobfc74f4530d3a8afd13b815e31218e6e.fr.be.EUR.shop1.reviews.xml

#TODO check this list
/label.css
/maintenance_files/
/migration/
/newsletter.php
/return.xml
/sales.php
/!php/
/.thumbs/
/.well-known/
/1.txt
/1_fr_0_sitemap.xml
/1_index_sitemap.xml
/README.md
/contact.php
node_modules/
.idea
*.xml