<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>fsadvancedurl</name>
    <displayName><![CDATA[Advanced SEO Friendly URLs]]></displayName>
    <version><![CDATA[2.4.1]]></version>
    <description><![CDATA[Removes ID from URLs for better SEO]]></description>
    <author><![CDATA[ModuleFactory]]></author>
    <tab><![CDATA[seo]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
</module>