// ========================================= //
// Forgotten password
// ========================================= //

.forgotten-password {

    .form-fields {

        button {
            width: 100%;
        }

        .email {
            input {
                margin-bottom: rem(16);
            }
        }

    }

    .send-renew-password-link {
        margin-bottom: rem(16);
    }
}
