// ========================================= //
// Image slider
// ========================================= //

.carousel {
    margin-bottom: rem(40);

    .carousel {
        &__item {

            &s {
                padding: 0 !important;
            }

            &__actions {
                display: flex;
                flex-flow: wrap;
                gap: rem(10);
            }

            figure {
                position: relative;
                margin: 0;
            }

            img {
                height: calc(100dvh - var(--header-height));
                width: 100%;
                object-fit: cover;
                @include media-breakpoint-up(lg) {
                    height: auto;
                    object-fit: unset;
                }
            }

            figcaption {
                padding: rem(14);
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                display: flex;
                align-items: center;

                * {
                    color: var(--white);
                }

                h1 {
                    font-family: var(--Cairo);
                    font-size: rem(36);
                    font-weight: 600;
                    line-height: normal;
                    text-transform: uppercase;
                    @include media-breakpoint-up(lg) {
                        font-size: rem(55);
                    }
                }
                h2 {
                    font-size: rem(42);
                    font-weight: 600;
                    line-height: rem(42);
                    margin-bottom: rem(20);
                    @include media-breakpoint-up(lg) {
                        font-size: rem(60);
                        line-height: rem(74);
                        margin-bottom: rem(36);
                    }
                }
                p {
                    max-width: rem(810);
                    font-size: rem(20);
                    line-height: rem(26);
                    margin-bottom: rem(20);
                    @include media-breakpoint-up(lg) {
                        font-size: rem(26);
                        line-height: rem(36);
                        margin-bottom: rem(36);
                    }
                }
                .btn {
                    background-color: transparent !important;
                    border: rem(1) solid var(--orange) !important;
                    text-transform: unset;
                    border-radius: rem(8);
                    max-width: rem(235);
                    width: 100%;
                    padding-block: rem(14);
                    &:hover {
                        background-color: var(--orange) !important;
                    }
                }
            }
        }
    }

    .slick-dots {
        bottom: rem(24);
    }
}
