.bootstrap .table td.right, .bootstrap .table th.right {
	text-align: right;
}

.icon-AdminOrderPreparationHome:before, .icon-AdminOrderPreparationHome:before { content: "\f16b"; }



#readyToShipFrame,
#orderPackingFrame,
#backordersFrame,
#pendingFrame,
#holdedFrame,
#inProgressFrame {
    height: 10000px !important;
}