<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>eghomenewproducts</name>
    <displayName><![CDATA[HP new products]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Module for home page new products.]]></description>
    <author><![CDATA[Egio digital]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
</module>